.App {
  height: 100vh;
  width: 100vw;
  background-image: url(../assets/lawnbot_background.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  position: relative;
}

.prev-estimate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 15px;
}

